{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "env"     : {
    "browser" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "space-infix-ops": 0,
    "max-len": [2, 120, 2]
  }
}
